body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



.top {
    position: relative;
    max-height: 280px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
//    background-image: url("../images/header.png");
//    background-repeat: no-repeat;
//    background-size: contain;
    
    img {
        max-width: 100%;
    }

    nav {
        position: absolute;
        right: 10%;
        bottom: 0;
        text-align: right;

        li {
            display: inline-block;

            text-align: center;

            a {
                display: inline-block;
                width: 80px;
                padding: 10px 0;
                color: white;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 1px 1px #111111;
                letter-spacing: 3px;
                font-size: 16px;
            }
        }
    }

}

.main {
    width: 100%;

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }
}


.headshot {
    position: relative;
    float: right;
    margin: 5px;
    width: 200px;
    right: -40px;
}

footer {
    height: 200px;
    width: 100%;

    text-shadow: 1px 1px #111111;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        letter-spacing: 3px;
        line-height: 2;

        div {
            width: 24%;
        }

        .center {
            width: 50%;
            height: 200px;

            background-image: url("../images/Picture Tuck Logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}


@media screen and (max-width: 800px) {
    footer {
        .container {
            flex-direction: column;
            div {
                width: 100%;
                text-align: center;
            }
            .center {
                width: 100%
            }

        }

    }
}
