div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.top {
    position: relative;
    margin: 0 auto;

    img {
        max-width: 100%;
    }

    nav {
        bottom: 0;
        text-align: right;
        margin: 0;
        padding: 0;

        ul {

            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                text-align: center;

                a {
                    display: inline-block;
                    //min-width: 70px;
                    padding: 2px;
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
                a:hover {
                    background-color: rgba(0,0,0,.1);
                }
            }
        }
    }
}

.main {
    width: 100%;

    h1 {
        font-size: 16px;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .headshot {
        display: none;
    }

    .contact {
        clear: both;
        .left {
            display: inline-block;
            width: 180px;
        }
        .right {
            display: inline-block;
            width: 220px;
            border-bottom: 1px solid black;
        }
    }

    a {
        color: blue;
        font-weight: 600;
        text-decoration: none;
        :visited {
            color: blue;
        }
    }
}




footer {
    text-shadow: 1px 1px #111111;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        letter-spacing: 3px;
        line-height: 2;

        div {
            width: 100%;
            text-align: center;
        }

        .center {
            width: 100%;

            background-image: url("../images/Picture Tuck Logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}

@media screen and (min-width: 800px) {

    body {
        font-size: 16px;
        margin: 0;
    }

    .top {
        max-height: 280px;
        width: 100%;
        max-width: 1400px;

        nav {
            position: absolute;
            right: 10%;
            bottom: 4px;
            text-align: right;
            margin: 0;
            padding: 0;

            ul {

                li {

            a {
                min-width: 70px;
                padding: 10px;
                color: white;
                letter-spacing: 2px;
            }
            a:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
        }
    }

    .main {
        h1 {
            font-size: 22px;
        }

        .container {
            min-height: 700px;
        }
        .headshot {
            display: block;
            float: right;
            width: 30%;
            max-width: 200px;
            padding: 5px;
        }
    }

    footer {
        height: 200px;
        width: 100%;

        .container {

            width: 100%;
            max-width: 1200px;
            padding: 0 20px;
            margin: 0 auto;

            div {
                width: 24%;
            }

            .center {
                width: 50%;
                height: 200px;
            }
        }
    }
}
