<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Representative Chris Tuck's official campaign webiste.">
    <meta name="keywords" content="Chris Tuck, Rep. Chris Tuck, Representative Chris Tuck, Tuck for Alaska, Tuck4alaska, District 23, Dimond, Business District, Taku, Kathy Henslee, Alaska House, Alaska House of Representatives, General Election, November 3 election, November election
    ">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- Begin Constant Contact Active Forms -->
    <script> var _ctct_m = "8e4dd139482b92b936f9ff3a41e1e860"; </script>
    <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
    <!-- End Constant Contact Active Forms -->
      <header>
         <div class="top">
             <img  src="assets/images/header.png">
             {% include nav.html %}
         </div>
      </header>
    
      <div class="main">
          <div class="container">
            <div class="content">
              <h1>{{ page.title }}</h1>
              {{ content }}
          </div>
          <!-- Begin Constant Contact Inline Form Code -->
          <div class="ctct-inline-form" data-form-id="ce5fc20f-b88c-44e9-8868-c840c91dae33"></div>
          <!-- End Constant Contact Inline Form Code -->
          </div>

      </div>
       {% include foot.html %}
  </body>
</html>