<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
      <header>
         <div class="top">
             <img  src="assets/images/header.png">
             {% include nav.html %}
         </div>
      </header>
    
      <div class="main">
          <div class="container">
              {{ content }}        
          </div>
      </div>
       {% include foot.html %}

  </body>
</html>